@page "/"
@using System.Text
@using System.Xml
@using System.Net.Sockets
@using System.Text.Encodings
@using QuickBinTest.Data

@inject NavigationManager navigationManager

<h1>QUICK BIN TEST APP</h1>
<br />

<form>
    <div class="mb-3">
        <button type="button" class="btn btn-primary" @onclick="TurnOnLED">LED ON</button>
        <button type="button" class="btn btn-primary" @onclick="TurnOffLED">LED OFF</button>
    </div>
    <div class="mb-3">
        <label for="messageinput" class="form-label">Line 1</label>
        <input type="text" class="form-control" id="messageinput" @bind-value="QuickBinVM.Line1">
    </div>
    <div class="mb-3">
        <label for="messageinput" class="form-label">Line 2</label>
        <input type="text" class="form-control" id="messageinput" @bind-value="QuickBinVM.Line2">
    </div>
    <div class="mb-3">
        <label for="messageinput" class="form-label">Line 3</label>
        <input type="text" class="form-control" id="messageinput" @bind-value="QuickBinVM.Line3">
    </div>
    <div class="mb-3">
        <button type="button" class="btn btn-primary" @onclick="QuickBinVM.SendLines">DRAW LINES</button>
    </div>

    @foreach (var quickBin in QuickBinVM.QuickBins)
    {
        <div class="mb-3">
            @quickBin.Id  @quickBin.Message
        </div>
    }

    <div class="mb-3">
        <button type="button" class="btn btn-primary" @onclick="btnConnect_Click">CONNECT</button>
        <button type="button" class="btn btn-primary" @onclick="btnSend_Click">SEND MESSAGE</button>
    </div>
    <div class="mb-3">
        <label for="response" class="form-label">MESSAGE TO SEND</label>
        <input type="text" class="form-control" id="response" @bind-value="QuickBinVM.MessageToSend">
    </div>
    <div class="mb-3">
        EVENTS
    </div>
    <div class="mb-3">
        @foreach (var _event in QuickBinVM.Activity)
        {
            <div class="mb-3">
                @_event
            </div>
        }
    </div>
    <div class="mb-3">
        MESSAGES
    </div>
    <div class="mb-3">
        @foreach (var message in QuickBinVM.Messages)
        {
            <div class="mb-3">
                @message
            </div>
        }
    </div>
</form>



@code{

    public QuickBinVM QuickBinVM { get; set; }

    public Socket sck;

    protected override async Task OnInitializedAsync()
    {
        QuickBinVM = new QuickBinVM();
        QuickBinVM.QuickBinIpAddress = "192.168.86.27";
        QuickBinVM.QuickBinSocketPort = 23;
        QuickBinVM.QuickBins = new List<QuickBin>();
        QuickBinVM.onMessageReceived += HandleMessageReceived;
        await base.OnInitializedAsync();

        QuickBinVM.IntializeSocket();
    }

    private async Task btnConnect_Click()
    {
        await QuickBinVM.ConnectToQuickBin();
        StateHasChanged();
    }

    private void btnSend_Click()
    {
        QuickBinVM.SendMessage();
    }

    public void TurnOnLED()
    {
        //MyModel.Response = SendTcpMessage("192.168.86.27", 80, "LED ON");
    }

    public void TurnOffLED()
    {
        // MyModel.Response = SendTcpMessage("192.168.86.27", 80, "LED OFF");
    }

    public void HandleMessageReceived(object sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    public class Communication
    {
        public string Message { get; set; }
        public string Response { get; set; }
    }


}
