@page "/"
@using System.Text
@using System.Xml
@using System.Net.Sockets
@using System.Text.Encodings
@using QuickBinTest.Data

@inject NavigationManager navigationManager

<h1>QUICK BIN TEST APP</h1>
<br />

<form>
    <div class="row">
        <div class="col-2" style="max-width: 120px;">
            <button type="button" class="btn btn-primary" @onclick="btnConnect_Click"  style="width: 105px;">CONNECT</button>
        </div>
        <div class="col-md-4">
            <div class="input-group mb-3">
                <span class="input-group-text">IP ADDRESS</span>
                <input type="text" class="form-control" @bind-value="QuickBinVM.QuickBinIpAddress">
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-group mb-3">
                <span class="input-group-text">PORT</span>
                <input type="text" class="form-control" @bind-value="QuickBinVM.QuickBinSocketPort">
            </div>
        </div>
    </div>
    <br />
    <div class="row g-3">
        <div class="col-2" style="max-width: 120px;">
            <button type="button" class="btn btn-primary" @onclick="btnSend_Click" style="width: 105px;">SEND</button>
        </div>
        <div class="col-10">
            <div class="input-group mb-3">
                <span class="input-group-text">MESSAGE</span>
                <input type="text" class="form-control" @bind-value="QuickBinVM.MessageToSend">
            </div>
        </div>
    </div>
    <br />
    <div class="mb-3">
        <button type="button" class="btn btn-primary" @onclick="TurnOnLED">LED ON</button>
        <button type="button" class="btn btn-primary" @onclick="TurnOffLED">LED OFF</button>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">LINE 1</span>
        <input type="text" class="form-control" @bind-value="QuickBinVM.Line1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">LINE 2</span>
        <input type="text" class="form-control" @bind-value="QuickBinVM.Line2">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">LINE 3</span>
        <input type="text" class="form-control" @bind-value="QuickBinVM.Line2">
    </div>
    <div class="mb-3">
        <button type="button" class="btn btn-primary" @onclick="QuickBinVM.SendLines">DRAW LINES</button>
    </div>

    @foreach (var quickBin in QuickBinVM.QuickBins)
    {
        <div class="mb-3">
            @quickBin.Id  @quickBin.Message
        </div>
    }

    <div class="mb-3">
        EVENTS
    </div>
    <div class="mb-3">
        @foreach (var _event in QuickBinVM.Activity)
        {
            <div class="mb-3">
                @_event
            </div>
        }
    </div>
    <div class="mb-3">
        MESSAGES
    </div>
    <div class="mb-3">
        @foreach (var message in QuickBinVM.Messages)
        {
            <div class="mb-3">
                @message
            </div>
        }
    </div>
</form>


@code{

    public QuickBinVM QuickBinVM { get; set; }

    public Socket sck;

    protected override async Task OnInitializedAsync()
    {
        QuickBinVM = new QuickBinVM();
        QuickBinVM.QuickBinIpAddress = "192.168.86.27";
        QuickBinVM.QuickBinSocketPort = 23;
        QuickBinVM.QuickBins = new List<QuickBin>();
        QuickBinVM.onMessageReceived += HandleMessageReceived;
        await base.OnInitializedAsync();

        QuickBinVM.IntializeSocket();
    }

    private async Task btnConnect_Click()
    {
        await QuickBinVM.ConnectToQuickBin();
        StateHasChanged();
    }

    private void btnSend_Click()
    {
        QuickBinVM.SendMessage();
    }

    public void TurnOnLED()
    {
        QuickBinVM.SendCommand("LED ON");
    }

    public void TurnOffLED()
    {
        QuickBinVM.SendCommand("LED OFF");
    }

    public void HandleMessageReceived(object sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

}
